<html>

<head>
<title>粉丝新增模拟</title>
</head>
<!--begin.rcode
csz2=12
end.rcode-->
<body>
      数值：<input type="text" name="csz" id="csz" value="0"> &nbsp;
	    数值：<input type="text" name="csz2" id="csz2" > &nbsp;
	  <div id="info_div">
	  
	  </div>

<!--begin.rcode
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
